.main-container {
    background-image: url("../../../public/background_image/32241013_art_deco_blue_background.jpg");
    height: 100%;
}

.main-column {
    background-color: var(--secondary-color);
    height: 100%;
}
