.popup-error {
    background-color: var(--primary-color) !important;
    position: absolute;
    top: 0;
    right: 0;
    left: 70% !important
}

.popover-arrow {
    display: none !important;
}

.popup-error-closed {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    left: 40% !important
}


.popup-header {
    background-color: var(--secondary-color) !important;
}

.popup-body {

}